/* name selector */

h1 {
    color: lightcoral;
}

h2 {
    color: cyan;
}

p {
    color: blue;
}

input {
    background-color: aqua;
}

a {
    color: green;
}

span {
    color: salmon;
}

/* class selector */
.sunshine {
    background-color: lightyellow;
}

.sunset {
    color: red;
}

/* id selector */
#a-special-p {
    text-decoration: underline;
    color: blue;
    background-color: green;
    padding: 20px;
    margin: 10 20 30 40;
}

/* attribute selector */
input[type=number] {
    border: 4px dashed purple;
}

p[class=sunshine] {
    text-decoration: line-through;
}

/* pseudo selector */
a:visited {
   color: pink; 
}

a:hover {
   cursor: grab; 
}

p:hover {
    background-color: grey;
}

p:nth-child(2) {
    font-size: xx-large;
}

p::first-letter {
    font-size: xx-large;
}

/* hierarchy of selectors */
div span {
    text-decoration: line-through;
}

#my-div2 span {
    text-decoration: underline;    
}

div div div p span {
    color: yellowgreen;
}

/* specific hierarchy of selectors */
form > div > p > input[type=text]{
    background-color: blueviolet;
}

/* combination of selectors */
span, div p, #my-div3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
